# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
*.env

# OS
.DS_Store

# personal exports
species.csv
traits.csv
junction.csv
bad_rows.csv
fix_dates.csv
species_no_traits.csv
final_species_traits.csv
