<div class="top-bar">
    <div class="menu-item-container">
        <div class="menu-item" onclick="window.location.href='/home';">
            <img src="{{ url_for('static', filename='home.png') }}" alt="Home" style="height: 24px;"> Home
        </div>
        <div class="menu-item" onclick="window.location.href='/flora_dashboard';">Filter Flora</div>
        <div class="menu-item" onclick="window.location.href='/fauna_dashboard';">Filter Fauna</div>
        <div class="menu-item" onclick="window.location.href='/report';">Report</div>
        <div class="menu-item" onclick="window.location.href='/map';">View Map</div>
        <div class="menu-item" onclick="window.location.href='/statistics';">Statistics</div>
        {% if is_admin %}
        <div class="menu-item" onclick="window.location.href='/update_data';">Update Data</div>
        {% endif %}
    </div>

    <div class="user-container">
        <div class="username">{{ username }}</div>
        <div class="hamburger-menu" onclick="toggleHamburgerMenu()">&#9776;</div>

        <div id="hamburger-dropdown" class="dropdown-content" style="display: none;">
            {% if is_admin %}
            <a href="/settings">Settings</a>
            {% endif %}
            <a href="/logout">Logout</a>
        </div>
    </div>
</div>
