<!DOCTYPE html>
<html>
<head>
    <title>Admin Controls</title>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="page">

    <header class="app-header">
        <div class="app-header-image">
            <img src="{{ url_for('static', filename='header.png') }}" alt="Header">
        </div>

        <div class="app-nav">

            <div class="nav-menu">

                <a href="/home" class="nav-btn">
                    <img src="{{ url_for('static', filename='home.png') }}" class="home-icon">
                </a>

                <a href="/species" class="nav-btn">Species</a>
                <a href="/traits" class="nav-btn">Traits</a>
                <a href="/observations" class="nav-btn">Observations</a>
                <a href="/reserves" class="nav-btn">Reserves</a>
                <a href="/at_risk" class="nav-btn">At Risk Species</a>
                <a href="/admin" class="nav-btn">Admin Controls</a>

            </div>

        </div>
    </header>
    
    <div class="header-divider"></div>

    <h1 class="app-title">Admin Controls</h1>

    <!-- PAGE CONTENT -->
    <div class="content">
        <p>**Insert contect here**</p>
    </div>

    <footer class="app-footer">
        <div class="footer-right">
            <a href="/login" class="logout-btn">Log Out</a>
        </div>
        <p>Bio Geographic Data Analysts | ABN 579 423 418 07</p>
    </footer>

</div>

</body>
</html>
