<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

//body
<body class="contact-page">

    <div class="contact-wrapper">
        <h1>Contact Us</h1>

        <form class="contact-form">
            <label>Email</label>
            <input type="email" placeholder="Enter your email">

            <label>Message</label>
            <textarea placeholder="Enter your message"></textarea>

            <button type="submit">Send Message</button>
        </form>

       <div class="back-bubble">
    <a href="login.html">← Back to Home</a>
</div>
    </div>

</body>
</html>